<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Happy Nel Quality Research Concluded</h1>

    <p>
      Hi, <%= @user.name %>.<br>
    </p>

    <p>
      The Last Quality Reseach is concluded, the team average happiness is: <%= @grade %>
    </p>

    <p>Thanks for joining and have a great day!</p>
  </body>
</html>
