<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Happy Nel Quality Research</h1>

    <p>
      Hi, <%= @user.name %>.<br>
    </p>

    <p>
      To cast your vote, just follow this link: <%= @url %>
    </p>

    <p>Thanks for joining and have a great day!</p>
  </body>
</html>
