<div>
  <p>
    <%= button_to "Release New Research", release_research_path,
      class: "release_research custom_big_button", method: :get %>
  </p>
</div>

<div>
  <p>
    <%= button_to "Manage Users", users_path,
      class: "manage_user custom_big_button", method: :get %>
  </p>
</div>
