<div class="box_head head-color" align="center">
  <div>
    <h2>How are you feeling?</h2>
  </div>
</div>

<div class="base_box container-fluid">
  <div class="base_box_content">
    <div class="box_list">

      <% if @research_token.grade.present? %>
        Seu voto ja foi confirmado, favor aguardar a conclusão da pesquisa.
      <% else %>
        <div>
          <h3>Fear nothing, the vote is totally secret!</h3>

          <%= form_for(@research_token,  url: { action: "save_vote" }) do |f| %>
            <%= f.hidden_field :token %>

            <div id="star-rating">
              <% for i in 1..10 %>
                <input type="radio" name="research_token_grade"
                  class="rating" value="<%= i %>" />
              <% end %>
            </div>

            <br>

            <div class="actions">
              <%= button_tag type: "submit", class: "btn btn-success btn-s" do %>
                <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"> Save </span>
              <% end %>
            </div>
          <% end %>
        </div>
      <% end %>

    </div>
  </div>
</div>
