<% if @research_token.grade.present? %>
  Seu voto ja foi confirmado, favor aguardar a conclusão da pesquisa.
<% else %>
  <div>
    <h3>How happy are you?</h3>

    <%= form_for(@research_token,  url: { action: "save_vote" }) do |f| %>
      <%= f.hidden_field :token %>

      <div id="star-rating">
          <input type="radio" name="research_token_grade" class="rating" value="1" />
          <input type="radio" name="research_token_grade" class="rating" value="2" />
          <input type="radio" name="research_token_grade" class="rating" value="3" />
          <input type="radio" name="research_token_grade" class="rating" value="4" />
          <input type="radio" name="research_token_grade" class="rating" value="5" />
          <input type="radio" name="research_token_grade" class="rating" value="6" />
          <input type="radio" name="research_token_grade" class="rating" value="7" />
          <input type="radio" name="research_token_grade" class="rating" value="8" />
          <input type="radio" name="research_token_grade" class="rating" value="9" />
          <input type="radio" name="research_token_grade" class="rating" value="10"/>
      </div>

      <br>

      <div class="actions">
        <%= f.submit "Vote", data: { confirm: 'Confirma sua escolha?' } %>
      </div>
    <% end %>
  </div>
<% end %>
